<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/man.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Man Liu &nbsp; 刘曼
			</h3>
		<p>
		
		
			</p>
		<p>
		
		
			</p>
			<p>
			I am currently currently a lecturer with the School of Artificial Intelligence, Anhui University (<a href="https://en.ahu.edu.cn/">AHU</a>), Hefei, China.
			Prior to that, I received Ph.D. degrees from the School of Computer Science and Technology, Beijing Jiaotong University (<a href="https://bjtu.edu.cn/">BJTU</a>) in 2025, under the supervision of Prof. <a href="https://faculty.bjtu.edu.cn/8181/">Huihui Bai</a> and Prof. <a href="http://faculty.bjtu.edu.cn/5900/">Yao Zhao</a>. 
			From 2023 to 2024, I was a Research Scholar of <a href="https://www.nextcenter.org/">NExT++ Lab</a>, under the supervision of Prof. <a href="https://www.chuatatseng.com/">Tat-Seng Chua</a>. 
			</p>
			<h3>
				Research Interests 
				</h3> 
		My research interests cover a range of computer vision and deep learning, such as fine-grained visual recognition, zero-shot learning, generative modeling and learning, and visual-and-language learning. I have authored or co-authored academic papers in top-tier international conferences and journals, including CVPR, AAAI, TPAMI, TIP, TMM, TCSVT etc. 
	       I'm open to any kind of collaboration. Please feel free to contact me through email.


		
			</p>
			<p>
		
		
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				<a href="mailto: {{manliu@ahu.edu.cn}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                {% if site.website_google %}
				 <a href="https://scholar.google.com/citations?hl=zh-CN&user=PAZWhGoAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}
				 </a>
			{% endif %}
		
		      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			 {% if site.github %}
				 <a href="https://github.com/ManLiuCoder" target="_blank"><i class="fa fa-github"></i> &nbsp; {{site.github}}</a>
			{% endif %}
	</div>
</div>
